{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/activities.css' %}">

<div class="main_box">
    <div class="inside_box">
        <h2>Actions</h2>
        <a href="" class="add_acitivity">add+</a>
    </div>
    <div class="lower_box">
        <div class="acitivity">
            <a href="">English</a>
            <div class="little_box">
                <a href="" class="pen"><i class='bx bxs-edit' ></i></a>
                <a href="" class="eye"><i class='bx bxs-show'></i></a>
                <a href="" class="delete"><i class='bx bxs-trash-alt' ></i></a>
            </div>
        </div>
        <div class="acitivity">
            <a href="">English</a>
            <div class="little_box">
                <a href="" class="pen"><i class='bx bxs-edit' ></i></a>
                <a href="" class="eye"><i class='bx bxs-show'></i></a>
                <a href="" class="delete"><i class='bx bxs-trash-alt' ></i></a>
            </div>
        </div>
        <div class="acitivity">
            <a href="">English</a>
            <div class="little_box">
                <a href="" class="pen"><i class='bx bxs-edit' ></i></a>
                <a href="" class="eye"><i class='bx bxs-show'></i></a>
                <a href="" class="delete"><i class='bx bxs-trash-alt' ></i></a>
            </div>
        </div>
        <div class="acitivity">
            <a href="">English</a>
            <div class="little_box">
                <a href="" class="pen"><i class='bx bxs-edit' ></i></a>
                <a href="" class="eye"><i class='bx bxs-show'></i></a>
                <a href="" class="delete"><i class='bx bxs-trash-alt' ></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}